@import url('https://fonts.googleapis.com/css2?family=Karma:wght@400;600&family=PlaypenSans:wght@600;700;800&display=swap');

.home-page,
.home-page * {
  box-sizing: border-box;
}

.home-page {
  background: #8f8389;
  height: 1024px;
  position: relative;
  overflow: hidden;
}

.triple-header-info {
  display: flex;
  flex-direction: row;
  gap: 107px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 91px;
  top: 815px;
}

.what-i-believe-i-believe-that-anyone-should-be-able-to-take-care-of-a-pet-as-long-as-they-have-the-resources-to-do-so {
  color: #ffffff;
  text-align: center;
  position: relative;
  width: 303px;
  height: 170px;
}

.what-i-believe-i-believe-that-anyone-should-be-able-to-take-care-of-a-pet-as-long-as-they-have-the-resources-to-do-so-span {
  font-family: "PlaypenSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.what-i-believe-i-believe-that-anyone-should-be-able-to-take-care-of-a-pet-as-long-as-they-have-the-resources-to-do-so-span2 {
  font-family: "Karma-Regular", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.why-this-website-serves-as-a-place-to-provide-those-resources-to-you-and-your-whanau-so-you-can-have-your-very-own-pet {
  color: #ffffff;
  text-align: center;
  position: relative;
  width: 329px;
  height: 170px;
}

.why-this-website-serves-as-a-place-to-provide-those-resources-to-you-and-your-whanau-so-you-can-have-your-very-own-pet-span {
  font-family: "PlaypenSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.why-this-website-serves-as-a-place-to-provide-those-resources-to-you-and-your-whanau-so-you-can-have-your-very-own-pet-span2 {
  font-family: "Karma-Regular", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.most-importantly-this-all-is-to-ensure-that-whatever-pet-you-have-or-want-to-get-is-happy-which-ensures-that-you-are-happy-as-well {
  color: #ffffff;
  text-align: center;
  position: relative;
  width: 344px;
  height: 170px;
}

.most-importantly-this-all-is-to-ensure-that-whatever-pet-you-have-or-want-to-get-is-happy-which-ensures-that-you-are-happy-as-well-span {
  font-family: "PlaypenSans-Bold", sans-serif;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.most-importantly-this-all-is-to-ensure-that-whatever-pet-you-have-or-want-to-get-is-happy-which-ensures-that-you-are-happy-as-well-span2 {
  font-family: "Karma-Regular", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.goal-text {
  background: #f4f1bb;
  border-radius: 0px 48px 0px 0px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 794px;
  top: 591px;
}

.my-goal-with-this-website-my-goal-is-to-create-an-accessible-and-convenient-place-to-get-information-on-pet-you-have-or-want-to-get {
  text-align: center;
  position: relative;
  width: 478px;
}

.my-goal-with-this-website-my-goal-is-to-create-an-accessible-and-convenient-place-to-get-information-on-pet-you-have-or-want-to-get-span {
  color: #754492;
  font-family: "PlaypenSans-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.my-goal-with-this-website-my-goal-is-to-create-an-accessible-and-convenient-place-to-get-information-on-pet-you-have-or-want-to-get-span2 {
  color: rgba(162, 72, 0, 0.87);
  font-family: "Karma-Regular", sans-serif;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.arrow-image {
  width: 661px;
  height: 201px;
  position: absolute;
  left: 89px;
  top: 575px;
  overflow: visible;
  object-fit: cover;
}

.hero-box-entirely {
  position: absolute;
  inset: 0;
}

.hero-box {
  width: 1451px;
  height: 331px;
  position: absolute;
  left: -11px;
  top: 224px;
  overflow: hidden;
}

.gradient {
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(34, 34, 34, 0.78) 37.01923191547394%,
      rgba(71, 71, 71, 0.53) 70.64488530158997%,
      rgba(153, 153, 153, 0) 100%);
  width: 1440px;
  height: 330px;
  position: absolute;
  left: 11px;
  top: 1px;
  overflow: hidden;
}

.frame-1 {
  background: #754492;
  opacity: 0.8;
  width: 461px;
  height: 225px;
  position: absolute;
  left: 85px;
  top: 51px;
  overflow: hidden;
}

.title-text {
  text-align: left;
  position: absolute;
  left: 24px;
  top: 19px;
  width: 414px;
  height: 187px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-text-span {
  color: rgba(250, 111, 0, 0.87);
  font-family: "PlaypenSans-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.title-text-span2 {
  color: #ffffff;
  font-family: "Karma-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.navigation {
  background: #8f8389;
  width: 1440px;
  height: 224px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
}

.main-nav {
  background: #f4f1bb;
  border-radius: 24px 24px 0px 0px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 629px;
  height: 97px;
  position: absolute;
  left: 405px;
  top: 127px;
}

.button-dog {
  flex-shrink: 0;
  width: 148px;
  height: 71px;
  position: relative;
  overflow: hidden;
}

.dogs {
  color: rgba(162, 72, 0, 0.87);
  text-align: center;
  font-family: "PlaypenSans-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 800;
  position: absolute;
  left: 74px;
  top: 21px;
  width: 62px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog {
  width: 34.46%;
  height: 57.75%;
  position: absolute;
  right: 58.11%;
  left: 7.43%;
  bottom: 19.72%;
  top: 22.54%;
  overflow: visible;
}

.button-cats {
  border-style: solid;
  border-color: #040404;
  border-width: 0px 0px 0px 3px;
  flex-shrink: 0;
  width: 148px;
  height: 71px;
  position: relative;
  overflow: hidden;
}

.cats {
  color: rgba(162, 72, 0, 0.87);
  text-align: center;
  font-family: "PlaypenSans-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 800;
  position: absolute;
  left: 78px;
  top: 21px;
  width: 62px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-2 {
  width: 66px;
  height: 28px;
  position: absolute;
  left: calc(50% - 67px);
  top: calc(50% - 15.5px);
  overflow: visible;
}

.button-fish {
  border-style: solid;
  border-color: #040404;
  border-width: 0px 0px 0px 3px;
  flex-shrink: 0;
  width: 148px;
  height: 71px;
  position: relative;
  overflow: hidden;
}

.fish {
  color: rgba(162, 72, 0, 0.87);
  text-align: center;
  font-family: "PlaypenSans-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 800;
  position: absolute;
  left: 74px;
  top: 21px;
  width: 62px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fish2 {
  width: 43.92%;
  height: 80.28%;
  position: absolute;
  right: 50%;
  left: 6.08%;
  bottom: 12.68%;
  top: 7.04%;
  overflow: visible;
}

.button-birds {
  border-style: solid;
  border-color: #040404;
  border-width: 0px 0px 0px 3px;
  flex-shrink: 0;
  width: 148px;
  height: 71px;
  position: relative;
  overflow: hidden;
}

.birds {
  color: rgba(162, 72, 0, 0.87);
  text-align: center;
  font-family: "PlaypenSans-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 800;
  position: absolute;
  left: calc(50% - 10px);
  top: 20px;
  width: 84px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bird {
  width: 44px;
  height: 90px;
  position: absolute;
  left: 20px;
  top: 0px;
  overflow: visible;
}

.top-nav {
  background: #d37adf;
  padding: 8px 16px 8px 16px;
  width: 305px;
  height: 56px;
  position: absolute;
  left: 1078px;
  top: 36px;
}

.reviews-page {
  color: #ffffff;
  text-align: center;
  font-family: "Karma-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 64px;
  top: 0px;
  width: 172px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.border-2 {
  border-style: solid;
  border-color: #040404;
  border-width: 3px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.state-layer {
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.content {
  margin: 0 0 0 -16px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.supporting-text {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: "Karma-Regular", sans-serif;
  font-size: 20px;
  line-height: var(--static-body-large-line-height, 24px);
  letter-spacing: var(--static-body-large-tracking, 0.5px);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.trailing-elements {
  margin: 0 0 0 -16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: absolute;
  right: 4px;
  top: 50%;
  translate: 0 -50%;
}

._1st-trailing-icon {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}

.content2 {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  position: relative;
  overflow: hidden;
}

.state-layer2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}

.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.logo {
  border-radius: 20px;
  width: 299px;
  height: 64px;
  position: absolute;
  left: 39px;
  top: 32px;
  overflow: hidden;
  object-fit: cover;
}