.dog-page,
.dog-page * {
  box-sizing: border-box;
}

/* styling the size of the web page and the background color */
.dog-page {
  background: #8f8389;
  height: 1024px;
  position: relative;
  overflow-y: auto;
}

/* styling the group that contains all the elements of the page */
.group-1 {
  position: absolute;
  inset: 0;
}

/* styling the section that contains information about labs */
.info-labs {
  width: 1218px;
  height: 679px;
  position: absolute;
  left: 50px;
  top: 344px;
}

/* styling the table that contains the information about labs */
.table {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #b9b9b9;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 472px;
  height: 237px;
  position: absolute;
  left: 23px;
  top: 76px;
  overflow: hidden;
}

/* styling each row of the table */
.row {
  background: #f4f1bb;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 45px;
  position: relative;
  overflow: hidden;
}

/* styling each cell of the table */
.cell {
  background: #f4f1bb;
  border-style: solid;
  border-color: #f4f1bb;
  border-width: 1px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}

/* styling the content inside each cell of the table */
.content {
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

/* styling the text inside each cell of the table */
.text {
  color: #000000;
  text-align: left;
  font-family: "PlaypenSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  position: relative;
  flex: 1;
}

/* this is the same as the previous three classes but for the second row of the table */
.cell2 {
  background: #f4f1bb;
  border-style: solid;
  border-color: #b9b9b9;
  border-width: 1px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.text2 {
  color: #000000;
  text-align: left;
  font-family: "Karma-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.row2 {
  background: #f4f1bb;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

/* this is the same as the previous three classes but for the third row of the table */
.cell3 {
  background: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: #b9b9b9;
  border-width: 1px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.text3 {
  color: #000000;
  text-align: left;
  font-family: "Karma-Regular", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  flex: 1;
}

.row3 {
  background: #f4f1bb;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 54px;
  position: relative;
  overflow: hidden;
}

.frame-2 {
  border-radius: 40px;
  border-style: solid;
  border-color: rgb(162, 72, 0);
  border-width: 4px;
  width: 262px;
  height: 139px;
  position: absolute;
  left: 980px;
  top: 452px;
}

/* styling the text that describes the speciality of labs */
.speciality-they-are-great-face-lickers-and-they-earned-the-title-of-the-friendliest-looking-dogs-ever {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 251px;
  height: 164px;
  -webkit-text-stroke: 0.3px #040404;
}

/* styling the spans inside the speciality text */
.speciality-they-are-great-face-lickers-and-they-earned-the-title-of-the-friendliest-looking-dogs-ever-span {
  font-family: "PlaypenSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

/* styling the spans inside the speciality text */
.speciality-they-are-great-face-lickers-and-they-earned-the-title-of-the-friendliest-looking-dogs-ever-span2 {
  font-family: "PlaypenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.personality-friendly-social-labs-are-outgoing-and-friendly-to-other-dogs-and-people-rarely-are-aggressive-and-very-social-energetic-playful-they-re-high-energy-dogs-who-love-to-play-fetch-or-swim-intelligent-trainable-very-clever-and-obedient-dogs-loyal-gentle-known-for-forming-deep-affectionate-bonds-with-their-owners-versatile-adaptable-they-adapt-well-whether-they-are-a-service-or-family-dog {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 510px;
  top: 396px;
  width: 429px;
  height: 269px;
  padding: 1%;
}

.personality-friendly-social-labs-are-outgoing-and-friendly-to-other-dogs-and-people-rarely-are-aggressive-and-very-social-energetic-playful-they-re-high-energy-dogs-who-love-to-play-fetch-or-swim-intelligent-trainable-very-clever-and-obedient-dogs-loyal-gentle-known-for-forming-deep-affectionate-bonds-with-their-owners-versatile-adaptable-they-adapt-well-whether-they-are-a-service-or-family-dog-span {
  font-family: "PlaypenSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.personality-friendly-social-labs-are-outgoing-and-friendly-to-other-dogs-and-people-rarely-are-aggressive-and-very-social-energetic-playful-they-re-high-energy-dogs-who-love-to-play-fetch-or-swim-intelligent-trainable-very-clever-and-obedient-dogs-loyal-gentle-known-for-forming-deep-affectionate-bonds-with-their-owners-versatile-adaptable-they-adapt-well-whether-they-are-a-service-or-family-dog-span2 {
  font-family: "Karma-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.personality-friendly-social-labs-are-outgoing-and-friendly-to-other-dogs-and-people-rarely-are-aggressive-and-very-social-energetic-playful-they-re-high-energy-dogs-who-love-to-play-fetch-or-swim-intelligent-trainable-very-clever-and-obedient-dogs-loyal-gentle-known-for-forming-deep-affectionate-bonds-with-their-owners-versatile-adaptable-they-adapt-well-whether-they-are-a-service-or-family-dog-span3 {
  font-family: "Karma-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* styling the postion and size of the lab image */
.lab-image {
  border-radius: 40px;
  width: 399px;
  height: 314px;
  position: absolute;
  left: 525px;
  top: 70px;
  overflow: hidden;
  object-fit: cover;
}

/* styling the position and size of the map image */
.map-1 {
  border-radius: 40px;
  width: 324px;
  height: 338px;
  position: absolute;
  left: 944px;
  top: 70px;
  object-fit: cover;
  aspect-ratio: 324/338;
}

/* styling the section title */
.labradors {
  color: #754492;
  text-align: center;
  font-family: "PlaypenSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 469px;
  top: 0px;
  width: 372px;
  height: 91px;
}

/* styling the section that contains care information about labs */
.care-balanced-diet-portion-control-feed-twice-daily-with-quality-large-breed-food-purina-is-a-good-brand-avoid-overfeeding-to-prevent-obesity-and-joint-issues-plenty-of-exercise-aim-for-at-least-1-2-hours-daily-walks-fetch-swimming-agility-to-keep-the-and-prevent-destructive-behaviours-routine-grooming-hygiene-brush-2-3-weekly-more-during-shedding-seasons-clean-ears-regularly-trim-nails-and-brush-teeth-2-3-times-per-week-early-training-mental-stimulation-buys-toys-and-other-items-they-can-play-with-and-uses-positive-reinforcement-to-encourage-obedience-veterinary-care-health-monitoring-schedule-regular-vet-check-ups-to-prevent-health-issues-and-consider-pet-insurance {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 313px;
  width: 499px;
  height: 366px;
  padding: 20px;
}

.care-balanced-diet-portion-control-feed-twice-daily-with-quality-large-breed-food-purina-is-a-good-brand-avoid-overfeeding-to-prevent-obesity-and-joint-issues-plenty-of-exercise-aim-for-at-least-1-2-hours-daily-walks-fetch-swimming-agility-to-keep-the-and-prevent-destructive-behaviours-routine-grooming-hygiene-brush-2-3-weekly-more-during-shedding-seasons-clean-ears-regularly-trim-nails-and-brush-teeth-2-3-times-per-week-early-training-mental-stimulation-buys-toys-and-other-items-they-can-play-with-and-uses-positive-reinforcement-to-encourage-obedience-veterinary-care-health-monitoring-schedule-regular-vet-check-ups-to-prevent-health-issues-and-consider-pet-insurance-span {
  font-family: "PlaypenSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.care-balanced-diet-portion-control-feed-twice-daily-with-quality-large-breed-food-purina-is-a-good-brand-avoid-overfeeding-to-prevent-obesity-and-joint-issues-plenty-of-exercise-aim-for-at-least-1-2-hours-daily-walks-fetch-swimming-agility-to-keep-the-and-prevent-destructive-behaviours-routine-grooming-hygiene-brush-2-3-weekly-more-during-shedding-seasons-clean-ears-regularly-trim-nails-and-brush-teeth-2-3-times-per-week-early-training-mental-stimulation-buys-toys-and-other-items-they-can-play-with-and-uses-positive-reinforcement-to-encourage-obedience-veterinary-care-health-monitoring-schedule-regular-vet-check-ups-to-prevent-health-issues-and-consider-pet-insurance-span2 {
  font-family: "Karma-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.care-balanced-diet-portion-control-feed-twice-daily-with-quality-large-breed-food-purina-is-a-good-brand-avoid-overfeeding-to-prevent-obesity-and-joint-issues-plenty-of-exercise-aim-for-at-least-1-2-hours-daily-walks-fetch-swimming-agility-to-keep-the-and-prevent-destructive-behaviours-routine-grooming-hygiene-brush-2-3-weekly-more-during-shedding-seasons-clean-ears-regularly-trim-nails-and-brush-teeth-2-3-times-per-week-early-training-mental-stimulation-buys-toys-and-other-items-they-can-play-with-and-uses-positive-reinforcement-to-encourage-obedience-veterinary-care-health-monitoring-schedule-regular-vet-check-ups-to-prevent-health-issues-and-consider-pet-insurance-span3 {
  font-family: "Karma-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* styling the title card behind the main title */
.title-card {
  background: rgba(162, 70, 0, 0.87);
  width: 859px;
  height: 98px;
  position: absolute;
  left: 300px;
  top: 246px;
  overflow: hidden;
}

.dogs-are-pure-bundles-of-joy {
  color: #ffffff;
  text-align: center;
  font-family: "PlaypenSans-Bold", sans-serif;
  font-size: 56px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 15px;
  width: 851px;
  height: 98px;
}

/* styling the navigation bar at the top of the page */
.navigation {
  background: #8f8389;
  width: 1440px;
  height: 224px;
  position: fixed;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.main-nav {
  background: #f4f1bb;
  border-radius: 24px 24px 0px 0px;
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 629px;
  height: 97px;
  position: absolute;
  left: 405px;
  top: 127px;
}

.button-dog {
  flex-shrink: 0;
  width: 148px;
  height: 71px;
  position: relative;
  overflow: hidden;
}

.dogs {
  color: rgba(162, 72, 0, 0.87);
  text-align: center;
  font-family: "PlaypenSans-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 800;
  position: absolute;
  left: 74px;
  top: 21px;
  width: 62px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dog {
  width: 34.46%;
  height: 57.75%;
  position: absolute;
  right: 58.11%;
  left: 7.43%;
  bottom: 19.72%;
  top: 22.54%;
  overflow: visible;
}

.button-cats {
  border-style: solid;
  border-color: #040404;
  border-width: 0px 0px 0px 3px;
  flex-shrink: 0;
  width: 148px;
  height: 71px;
  position: relative;
  overflow: hidden;
}

.cats {
  color: rgba(162, 72, 0, 0.87);
  text-align: center;
  font-family: "PlaypenSans-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 800;
  position: absolute;
  left: 78px;
  top: 21px;
  width: 62px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-2 {
  width: 66px;
  height: 28px;
  position: absolute;
  left: calc(50% - 67px);
  top: calc(50% - 15.5px);
  overflow: visible;
}

.button-fish {
  border-style: solid;
  border-color: #040404;
  border-width: 0px 0px 0px 3px;
  flex-shrink: 0;
  width: 148px;
  height: 71px;
  position: relative;
  overflow: hidden;
}

.fish {
  color: rgba(162, 72, 0, 0.87);
  text-align: center;
  font-family: "PlaypenSans-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 800;
  position: absolute;
  left: 74px;
  top: 21px;
  width: 62px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fish2 {
  width: 43.92%;
  height: 80.28%;
  position: absolute;
  right: 50%;
  left: 6.08%;
  bottom: 12.68%;
  top: 7.04%;
  overflow: visible;
}

.button-birds {
  border-style: solid;
  border-color: #040404;
  border-width: 0px 0px 0px 3px;
  flex-shrink: 0;
  width: 148px;
  height: 71px;
  position: relative;
  overflow: hidden;
}

.birds {
  color: rgba(162, 72, 0, 0.87);
  text-align: center;
  font-family: "PlaypenSans-ExtraBold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 800;
  position: absolute;
  left: calc(50% - 10px);
  top: 20px;
  width: 84px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bird {
  width: 44px;
  height: 90px;
  position: absolute;
  left: 20px;
  top: 0px;
  overflow: visible;
}

.top-nav {
  background: linear-gradient(to left, #d37adf, #d37adf),
    linear-gradient(to left, #ffffff, #ffffff);
  padding: 8px 16px 8px 16px;
  width: 305px;
  height: 56px;
  position: absolute;
  left: 1078px;
  top: 36px;
}

.reviews-page {
  color: #ffffff;
  text-align: center;
  font-family: "Karma-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 64px;
  top: 0px;
  width: 172px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.border-2 {
  border-style: solid;
  border-color: #040404;
  border-width: 3px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 305px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  z-index: 1;
}

.state-layer {
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.content2 {
  margin: 0 0 0 -16px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}

/* styling the circle behind the logo */
.content3 {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  position: relative;
  overflow: hidden;
}

/* styling the logo image */
.logo {
  border-radius: 20px;
  width: 299px;
  height: 64px;
  position: absolute;
  left: 39px;
  top: 32px;
  overflow: hidden;
  object-fit: cover;
}

/* removing the default styling of links */
a {
  text-decoration: none;
  color: inherit;
}