/* Figma Styles of your File */
:root {
  /* Colors */
  --primary-color: #a24900;
  --secondary-color: #754492;
  --fill-colour: #ffffff;
  --background-color: #f4f1ee;
  --border-color: #040404;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --gradient-start: #d37adf;
  --gradient-end: #754492;
  --gradient-angle: to left;
  /* Fonts */
  --main-font: "Playpen Sans", sans-serif;
  --secondary-font: "Karma", serif;
  /* Effects */
}
/* Figma Color Variables of your File */
