/* Figma Styles of your File */
:root {
  /* Colors */
  --primary-color: #8f8389;
  --secondary-color: #f0e6e8;
  --accent-color: #d1c6c8;
  /* Fonts */
  --main-font: "Playpen Sans", sans-serif;
  --secondary-font: "Karma", serif;
  /* Effects */
}
/* Figma Color Variables of your File */
