
:root {
  /* Colors */
  --primary-color: #a24900;
  --lighter-primary: #ffb347;
  --secondary-color: #754492;
  --lighter-secondary: #d37adf;
  --white: #ffffff;
  --background-color: #8f8389;
  --border-color: #040404;
  --shadow-color: rgba(0, 0, 0, 0.25);
  /* Fonts */
  --main-font: "Playpen Sans", sans-serif;
  --secondary-font: "Karma", sans-serif;
  /* Effects */
}
/* Figma Color Variables of your File */
